Connected Services/BankomatLocalService/BankomatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckCardNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCardNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckCardNumberResult" type="tns:Cards" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cards">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pin" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CardStatus" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBlocked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfEndUsing" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Clients" type="tns:Clients" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Clients">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckCardNumberSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCardNumber" />
  </wsdl:message>
  <wsdl:message name="CheckCardNumberSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCardNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="BankomatServiceSoap">
    <wsdl:operation name="CheckCardNumber">
      <wsdl:input message="tns:CheckCardNumberSoapIn" />
      <wsdl:output message="tns:CheckCardNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankomatServiceSoap" type="tns:BankomatServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCardNumber">
      <soap:operation soapAction="http://tempuri.org/CheckCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankomatServiceSoap12" type="tns:BankomatServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCardNumber">
      <soap12:operation soapAction="http://tempuri.org/CheckCardNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankomatService">
    <wsdl:port name="BankomatServiceSoap" binding="tns:BankomatServiceSoap">
      <soap:address location="http://localhost:51621/BankomatService.asmx" />
    </wsdl:port>
    <wsdl:port name="BankomatServiceSoap12" binding="tns:BankomatServiceSoap12">
      <soap12:address location="http://localhost:51621/BankomatService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>